BOT_TOKEN=your_bot_token_here
DISCORD_GUILD_ID=your_dev_guild_id

DISCORD_CLIENT_ID=your_oauth_client_id
DISCORD_CLIENT_SECRET=your_oauth_client_secret
DISCORD_REDIRECT_URI=http://localhost:4000/auth/discord/callback
STATS_ROLE_ID=your_role_id

# PGPORT=5433
# DATABASE_URL=postgres://user:pass@host:5432/masaryk_ex_dev

SECRET_KEY_BASE=
PHX_HOST=localhost
PORT=4000
